  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

        body{
        background: #f2f2f2;
        font-family: 'Open Sans', sans-serif;
        }

        .search {
        width: 100%;
        position: relative;
        display: flex;
        }

        .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 15px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
        }

        .searchTerm:focus{
        color: #00B4CC;
        }

        .searchButton {
        width: 40px;
        height: 36px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
        }

        /*Resize the wrap to see the search bar change!*/
        .wrap{
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }

    .md-tabs .nav-item.open .nav-link, .md-tabs .nav-link.active {
    background-color: rgba(0,0,0,.2);
    color: #fff;
    transition: all 1s;
    border-radius: .25rem;
      }
      .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
          color: #495057;
          background-color: #fff;
          border-color: #dee2e6 #dee2e6 #fff;
      }
      .md-tabs .nav-link {
          transition: all .4s;
          border: 0;
              border-top-color: currentcolor;
              border-right-color: currentcolor;
              border-bottom-color: currentcolor;
              border-left-color: currentcolor;
          color: #fff;
      }
      .nav-tabs .nav-link {
          border: 1px solid transparent;
          border-top-left-radius: .25rem;
          border-top-right-radius: .25rem;
      }
      .nav-link {
          display: block;
          padding: .5rem 1rem;
      }
      a {
          cursor: pointer;
          text-decoration: none;
          color: #007bff;
          transition: all .2s ease-in-out;
      }
      a {
          color: #007bff;
          text-decoration: none;
          background-color: transparent;
      }
      *, ::after, ::before {
          box-sizing: border-box;
      }

    .md-tabs {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    border: 0;
    padding: .7rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: -20px;
    background-color: #2bbbad;
    z-index: 1;
    position: relative;
    border-radius: .25rem;
    }
    .indigo {
        background-color: #3f51b5 !important;
    }
    .nav-tabs {
        border-bottom: 1px solid #dee2e6;
    }
    .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    *, ::after, ::before {
        box-sizing: border-box;
    }
    .category-link, .category-link:hover, .category-link:visited, .category-link:active{
      text-decoration: none;
      color:black;
    }
