.form-control-label{
        margin: 0;
        padding: 0;
        font-size: 16px;
        color: #888;
        text-align: left;
      }

      .login-signup-container{
        text-align: center;
        margin: 0 auto;
        width: 444px;

        /*background: gold;*/
        align-self: center;
        padding: 2rem;

      }

      .login-signup-container .sheba-logo{
        margin: 0 auto 20px auto;
        max-width: 200px;
      }




      .login-signup-form-footer{
        font-size: 12px;
        margin: 10px 0 0 0;
      }

      .login-signup-form-footer p{
        margin: 0;
        padding: 0;
      }
      .login-signup-form-footer p a{
        font-weight: 600;
        text-decoration: underline ;
        color: #212540;
      }


      .normal-heading{
        font-size: 18px;
        margin-bottom: 20px;
      }

      .forget-password-msg{
        color: #999;
        font-size: 16px;
      }
      .login-divider{
        margin: 35px 0 35px 0;
      }

      .login-divider::before{
        content: "Or";
        color: #212121;
        font-size: 18px;
        font-weight: 500;
        background-color: #fff;
        padding: 0 10px;
        /*border-radius: 20px;*/
        margin-top: -15px;
        left: 47%;
        position: absolute;
        /*border: 1px solid #eee;*/
      }


      .btn-login-small:hover,
      .btn-login-small:active,
      .btn-login-small:focus,
      .btn-login-small:visited{
        color: #fff;
        background-color: #bbb;
        border-color: #bbb;
      }

      .email-login-form{
        margin-top: 10px;
      }

      .input-group.input-group-lg .email-field.form-control, .input-group.input-group-lg .name-field.form-control, .input-group.input-group-lg .password-field.form-control, .name-field-kit.form-control {
        background-color: #fff;
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 500;
        color: #555;
        border: 1px solid #ccc;
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
      }


      .input-group.input-group-lg .email-field.form-control {
        border-radius: 0px !important;
      }

      .input-group.input-group-lg .name-field.form-control {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: none;
      }

      .name-field-kit.form-control {
        margin-bottom: 20px;
        background: #e9ecef;
      }

      .input-group.input-group-lg .password-field.form-control {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .input-group.input-group-lg .email-field.form-control:focus {
        background-color: #f5f5f5;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
      }

      .categories
      {
        opacity: 0.7;
      }
      .categories:hover
      {
        opacity: 1;
        transition: 0.4s;
        border-radius:5px;
        box-shadow: -2px 3px 60px -14px rgba(104,219,65,1);
      }

      #editor {
      	resize: vertical;
      	overflow: auto;
      	line-height: 1.5;
      	background-color: #fafafa;
        background-image: none;
      	border: 0;
      	min-height: 150px;
      	box-shadow: none;
      	padding: 8px 16px;
      	margin: 0 auto;
      	font-size: 14px;
      	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      }
      	#editor:focus {
      		background-color: #f0f0f0;
      		border-color: #38af5b;
      		box-shadow: none;
      		outline: 0 none;
      	}




        .paymentWrap {
    padding: 50px;
    }

    .paymentWrap .paymentBtnGroup {
    max-width: 800px;
    margin: auto;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod {
    padding: 40px;
    box-shadow: none;
    position: relative;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod.active {
    outline: none !important;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod.active .method {
    border-color: #4cd264;
    outline: none !important;
    box-shadow: 0px 3px 22px 0px #7b7b7b;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    transition: all 0.5s;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method.visa {
    background-image: url('images/visa.png');
    background-size: 60px 60px;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method.master-card {
    background-image: url('images/mc.png');
    background-size: 60px 60px;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method.bkash {
    background-image: url('images/bkash.webp');
      background-size: 60px 60px;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method.rocket {
    background-image: url('images/rocket.jpg');
    background-size: 60px 60px;
    }

    .paymentWrap .paymentBtnGroup .paymentMethod .method.cod {
    background-image: url('images/cod.jpg');

    }


    .paymentWrap .paymentBtnGroup .paymentMethod .method:hover {
    border-color: #4cd264;
    outline: none !important;
    }



    .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
    @media screen and (max-width: 600px) {
        table#cart tbody td .form-control{
    		width:20%;
    		display: inline !important;
    	}
    	.actions .btn{
    		width:36%;
    		margin:1.5em 0;
    	}

    	.actions .btn-info{
    		float:left;
    	}
    	.actions .btn-danger{
    		float:right;
    	}

    	table#cart thead { display: none; }
    	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
    	table#cart tbody tr td:first-child { background: #333; color: #fff; }
    	table#cart tbody td:before {
    		content: attr(data-th); font-weight: bold;
    		display: inline-block; width: 8rem;
    	}

      .navbar-light a{
        color:white;
      }
    	table#cart tfoot td{display:block; }
    	table#cart tfoot td .btn{display:block;}
